@{
    ViewData["Title"] = "Index";
}


<div>
    <h1>Nuestro gran juego: El ahorcado</h1>
    <h3>Si queres empezar a jugar a este gran juego, <a href = '@Url.Action("ComenzarJuego", "Home")' alt =>toca aqui</a></h3>
</div>

